<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xuexivue.shop.dao.BaseUserRoleMapper">
  <resultMap id="BaseResultMap" type="xyz.xuexivue.shop.pojo.BaseUserRole">
    <id column="urid" jdbcType="INTEGER" property="urid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
  </resultMap>
  <sql id="Base_Column_List">
    urid, uid, rid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_user_role
    where urid = #{urid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_user_role
    where urid = #{urid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.xuexivue.shop.pojo.BaseUserRole">
    insert into base_user_role (urid, uid, rid
      )
    values (#{urid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.xuexivue.shop.pojo.BaseUserRole">
    insert into base_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        urid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="rid != null">
        rid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        #{urid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.xuexivue.shop.pojo.BaseUserRole">
    update base_user_role
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        rid = #{rid,jdbcType=INTEGER},
      </if>
    </set>
    where urid = #{urid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.xuexivue.shop.pojo.BaseUserRole">
    update base_user_role
    set uid = #{uid,jdbcType=INTEGER},
      rid = #{rid,jdbcType=INTEGER}
    where urid = #{urid,jdbcType=INTEGER}
  </update>
</mapper>